<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="puzlicis.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <puzlicis.Properties.Settings>
            <setting name="rezga_krasa" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="aktiva_krasa" serializeAs="String">
                <value>White</value>
            </setting>
            <setting name="iezimeta_krasa" serializeAs="String">
                <value>Green</value>
            </setting>
            <setting name="indeksu_krasa" serializeAs="String">
                <value>Red</value>
            </setting>
            <setting name="piecpadsmit_krasa" serializeAs="String">
                <value>Control</value>
            </setting>
            <setting name="fonts" serializeAs="String">
                <value>Microsoft Sans Serif, 8.25pt</value>
            </setting>
            <setting name="jauna_spele" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="saglabat" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="rezultati" serializeAs="String">
                <value>True</value>
            </setting>
        </puzlicis.Properties.Settings>
    </userSettings>
</configuration>